.text-primary {
    color:#4D5BCE    !important;
}

.text-secondary {
    color: #607B96 !important;
}

.text-success {
    color: #43D9AD !important;
}

.border-secondary {


    border-color:#1E2D3D !important;
}
.text-danger{
color: #E99287 !important;

}
.btn-danger {


    background-color:#1E2D3D !important;
    border-color: #1E2D3D;
}
.bg-secondary {


    background-color:#011221 !important;
    border-color: #011221 !important;
}
.bg-acord{
background-color: #1E2D3D;
border-color: #1E2D3D;
}